In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import glob
path='/content/drive/MyDrive/DBDA_PROJECT/img_rotation/'
all_files=glob.glob(path+"*.csv")

In [ ]:
all_files

['/content/drive/MyDrive/DBDA_PROJECT/img_rotation/imbalanced_cnn.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/imbalanced_resnet_50.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_SMOTE_CNN.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_SMOTE_ResNet_152.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_SMOTE_ResNet_50.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_WT_cnn.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_wt_ResNet_152.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_wt_ResNet_50.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/imbalanced_resnet_L50.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_tk_ResNet50_152.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_tk_cnn.csv',
 '/content/drive/MyDrive/DBDA_PROJECT/img_rotation/balanced_tk_ResNet50_50.csv']

In [ ]:
df = pd.DataFrame()
for file_ in all_files:
    file_df = pd.read_csv(file_,sep=',', parse_dates=[0], infer_datetime_format=True,header=None,skiprows=1 )
    file_df['model'] = file_
    df = df.append(file_df)

In [ ]:
df

,0,1,2,3,model
0,0,91.666667,91.666667,91.666667,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
1,1,96.255507,96.255507,96.255507,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
2,2,100.000000,100.000000,100.000000,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
3,3,98.113208,98.113208,98.113208,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
4,4,99.049881,99.049881,99.049881,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
...,...,...,...,...,...
38,38,97.354497,97.354497,97.354497,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
39,39,95.180723,95.180723,95.180723,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
40,40,97.872340,97.872340,97.872340,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
41,41,98.120301,98.120301,98.120301,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...
42,42,99.346405,99.346405,99.346405,/content/drive/MyDrive/DBDA_PROJECT/img_rotati...

In [ ]:
df.columns =['class', 'clockwise_90', 'anticlockwise_90', '180_rotation','model']

In [ ]:
def get_filename(path):
    temp_str = path.split('/')
    return temp_str[-1]

In [ ]:
df["model"] = df["model"].apply(get_filename)

In [ ]:
# saving concat data to csv
df.to_csv("/content/drive/MyDrive/DBDA_PROJECT/img_rotation/totalG.csv",index=False)

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/DBDA_PROJECT/img_rotation/totalG.csv")

In [ ]:
df

     class   precision      recall          f1                        model
0        0   91.666667   91.666667   91.666667           imbalanced_cnn.csv
1        1   96.255507   96.255507   96.255507           imbalanced_cnn.csv
2        2  100.000000  100.000000  100.000000           imbalanced_cnn.csv
3        3   98.113208   98.113208   98.113208           imbalanced_cnn.csv
4        4   99.049881   99.049881   99.049881           imbalanced_cnn.csv
..     ...         ...         ...         ...                          ...
511     38   97.354497   97.354497   97.354497  balanced_tk_ResNet50_50.csv
512     39   95.180723   95.180723   95.180723  balanced_tk_ResNet50_50.csv
513     40   97.872340   97.872340   97.872340  balanced_tk_ResNet50_50.csv
514     41   98.120301   98.120301   98.120301  balanced_tk_ResNet50_50.csv
515     42   99.346405   99.346405   99.346405  balanced_tk_ResNet50_50.csv

[516 rows x 5 columns]

In [ ]:
df['total'] = df['clockwise_90']+df['anticlockwise_90'] + df['180_rotation']

In [ ]:
df.total = df.total.round(2)

In [ ]:
z=df.groupby('class',sort=False)['total'].max()
z

class
0     300.00
1     296.40
2     300.00
3     300.00
4     300.00
5     300.00
6     300.00
7     300.00
8     300.00
9     300.00
10    300.00
11    300.00
12    300.00
13    300.00
14    300.00
15    300.00
16    300.00
17    300.00
18    300.00
19    299.36
20    300.00
21    300.00
22    300.00
23    297.93
24    300.00
25    300.00
26    300.00
27    300.00
28    300.00
29    300.00
30    300.00
31    300.00
32    300.00
33    300.00
34    299.24
35    300.00
36    300.00
37    300.00
38    293.55
39    300.00
40    298.14
41    300.00
42    299.35
Name: total, dtype: float64

In [ ]:
df0=df[(df['class']==0) & (df['total']==z[0].max())].iloc[:,0:8]
df0

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
43,0,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
86,0,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
172,0,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
215,0,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
301,0,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df1=df[(df['class']==1) & (df['total']==z[1].max())].iloc[:,0:8]
df1

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
130,1,98.800959,98.800959,98.800959,balanced_SMOTE_ResNet_152.csv,296.4

In [ ]:
df2=df[(df['class']==2) & (df['total']==z[2].max())].iloc[:,0:8]
df2

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
2,2,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
303,2,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df3=df[(df['class']==3) & (df['total']==z[3].max())].iloc[:,0:8]
df3

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
89,3,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
304,3,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
476,3,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df4=df[(df['class']==4) & (df['total']==z[4].max())].iloc[:,0:8]
df4

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
133,4,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
305,4,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df5=df[(df['class']==5) & (df['total']==z[5].max())].iloc[:,0:8]
df5

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
134,5,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
306,5,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df6=df[(df['class']==6) & (df['total']==z[6].max())].iloc[:,0:8]
df6

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
6,6,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
135,6,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
178,6,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
221,6,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
307,6,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
350,6,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
393,6,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0
436,6,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0

In [ ]:
df7=df[(df['class']==7) & (df['total']==z[7].max())].iloc[:,0:8]
df7

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
7,7,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
93,7,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
179,7,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
480,7,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df8=df[(df['class']==8) & (df['total']==z[8].max())].iloc[:,0:8]
df8

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
8,8,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
94,8,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
137,8,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
180,8,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
223,8,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
309,8,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
352,8,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
395,8,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0
438,8,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0

In [ ]:
df9=df[(df['class']==9) & (df['total']==z[9].max())].iloc[:,0:5]
df9

,class,clockwise_90,anticlockwise_90,180_rotation,model
9,9,100.0,100.0,100.0,imbalanced_cnn.csv
52,9,100.0,100.0,100.0,imbalanced_resnet_50.csv
95,9,100.0,100.0,100.0,balanced_SMOTE_CNN.csv
138,9,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv
181,9,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv
224,9,100.0,100.0,100.0,balanced_WT_cnn.csv
310,9,100.0,100.0,100.0,balanced_wt_ResNet_50.csv
353,9,100.0,100.0,100.0,imbalanced_resnet_L50.csv
439,9,100.0,100.0,100.0,balanced_tk_cnn.csv
482,9,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv

In [ ]:
df10=df[(df['class']==10) & (df['total']==z[10].max())].iloc[:,0:8]
df10

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
483,10,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df11=df[(df['class']==11) & (df['total']==z[11].max())].iloc[:,0:8]
df11

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
183,11,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
226,11,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
312,11,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
355,11,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
398,11,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0
441,11,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0
484,11,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df12=df[(df['class']==12) & (df['total']==z[12].max())].iloc[:,0:8]
df12

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
356,12,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
442,12,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0

In [ ]:
df13=df[(df['class']==13) & (df['total']==z[13].max())].iloc[:,0:8]
df13

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
314,13,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df14=df[(df['class']==14) & (df['total']==z[14].max())].iloc[:,0:8]
df14

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
100,14,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0

In [ ]:
df15=df[(df['class']==15) & (df['total']==z[15].max())].iloc[:,0:8]
df15

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
15,15,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
101,15,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
144,15,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
187,15,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
230,15,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
316,15,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
359,15,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
402,15,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0
445,15,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0

In [ ]:
df16=df[(df['class']==16) & (df['total']==z[16].max())].iloc[:,0:8]
df16

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
403,16,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0

In [ ]:
df17=df[(df['class']==17) & (df['total']==z[17].max())].iloc[:,0:8]
df17

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
103,17,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
189,17,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
318,17,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df18=df[(df['class']==18) & (df['total']==z[18].max())].iloc[:,0:8]
df18

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
18,18,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
104,18,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
319,18,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df19=df[(df['class']==19) & (df['total']==z[19].max())].iloc[:,0:8]
df19

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
105,19,99.787234,99.787234,99.787234,balanced_SMOTE_CNN.csv,299.36
148,19,99.787234,99.787234,99.787234,balanced_SMOTE_ResNet_152.csv,299.36
191,19,99.787234,99.787234,99.787234,balanced_SMOTE_ResNet_50.csv,299.36

In [ ]:
df20=df[(df['class']==20) & (df['total']==z[20].max())].iloc[:,0:8]
df20

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
20,20,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
192,20,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0

In [ ]:
df21=df[(df['class']==21) & (df['total']==z[21].max())].iloc[:,0:8]
df21

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
150,21,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
494,21,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df22=df[(df['class']==22) & (df['total']==z[22].max())].iloc[:,0:8]
df22

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
151,22,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0

In [ ]:
df23=df[(df['class']==23) & (df['total']==z[23].max())].iloc[:,0:8]
df23

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
324,23,99.310345,99.310345,99.310345,balanced_wt_ResNet_50.csv,297.93

In [ ]:
df24=df[(df['class']==24) & (df['total']==z[24].max())].iloc[:,0:8]
df24

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
497,24,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df25=df[(df['class']==25) & (df['total']==z[25].max())].iloc[:,0:8]
df25

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
154,25,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0

In [ ]:
df26=df[(df['class']==26) & (df['total']==z[26].max())].iloc[:,0:8]
df26

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
26,26,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
69,26,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
112,26,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
155,26,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
241,26,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
327,26,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
499,26,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df27=df[(df['class']==27) & (df['total']==z[27].max())].iloc[:,0:8]
df27

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
27,27,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
113,27,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
199,27,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
328,27,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
371,27,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
414,27,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0
457,27,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0
500,27,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df28=df[(df['class']==28) & (df['total']==z[28].max())].iloc[:,0:8]
df28

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
28,28,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
243,28,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
329,28,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df29=df[(df['class']==29) & (df['total']==z[29].max())].iloc[:,0:8]
df29

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
29,29,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
72,29,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
115,29,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
330,29,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
373,29,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
459,29,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0
502,29,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df30=df[(df['class']==30) & (df['total']==z[30].max())].iloc[:,0:8]
df30

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
30,30,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
73,30,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
116,30,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
159,30,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
245,30,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
331,30,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
374,30,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
460,30,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0

In [ ]:
df31=df[(df['class']==31) & (df['total']==z[31].max())].iloc[:,0:8]
df31

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
31,31,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
117,31,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
160,31,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
246,31,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
332,31,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
375,31,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
418,31,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0
461,31,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0
504,31,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df32=df[(df['class']==32) & (df['total']==z[32].max())].iloc[:,0:8]
df32

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
32,32,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
75,32,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
118,32,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
333,32,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
419,32,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0

In [ ]:
df33=df[(df['class']==33) & (df['total']==z[33].max())].iloc[:,0:8]
df33

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
76,33,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
119,33,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
205,33,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
334,33,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
377,33,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
420,33,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0
463,33,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0
506,33,100.0,100.0,100.0,balanced_tk_ResNet50_50.csv,300.0

In [ ]:
df34=df[(df['class']==34) & (df['total']==z[34].max())].iloc[:,0:8]
df34

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
34,34,99.746835,99.746835,99.746835,imbalanced_cnn.csv,299.24
335,34,99.746835,99.746835,99.746835,balanced_wt_ResNet_50.csv,299.24

In [ ]:
df35=df[(df['class']==35) & (df['total']==z[35].max())].iloc[:,0:8]
df35

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
35,35,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
78,35,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
121,35,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
250,35,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
336,35,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
379,35,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
465,35,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0

In [ ]:
df36=df[(df['class']==36) & (df['total']==z[36].max())].iloc[:,0:8]
df36

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
36,36,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
79,36,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
122,36,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
165,36,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
208,36,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
251,36,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
337,36,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
380,36,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
423,36,100.0,100.0,100.0,balanced_tk_ResNet50_152.csv,300.0
466,36,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0

In [ ]:
df37=df[(df['class']==37) & (df['total']==z[37].max())].iloc[:,0:8]
df37

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
37,37,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
123,37,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
166,37,100.0,100.0,100.0,balanced_SMOTE_ResNet_152.csv,300.0
252,37,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
295,37,100.0,100.0,100.0,balanced_wt_ResNet_152.csv,300.0
338,37,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df38=df[(df['class']==38) & (df['total']==z[38].max())].iloc[:,0:8]
df38

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
339,38,97.849462,97.849462,97.849462,balanced_wt_ResNet_50.csv,293.55

In [ ]:
df39=df[(df['class']==39) & (df['total']==z[39].max())].iloc[:,0:8]
df39

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
39,39,100.0,100.0,100.0,imbalanced_cnn.csv,300.0
82,39,100.0,100.0,100.0,imbalanced_resnet_50.csv,300.0
125,39,100.0,100.0,100.0,balanced_SMOTE_CNN.csv,300.0
211,39,100.0,100.0,100.0,balanced_SMOTE_ResNet_50.csv,300.0
254,39,100.0,100.0,100.0,balanced_WT_cnn.csv,300.0
340,39,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0
383,39,100.0,100.0,100.0,imbalanced_resnet_L50.csv,300.0
469,39,100.0,100.0,100.0,balanced_tk_cnn.csv,300.0

In [ ]:
df40=df[(df['class']==40) & (df['total']==z[40].max())].iloc[:,0:8]
df40

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
341,40,99.378882,99.378882,99.378882,balanced_wt_ResNet_50.csv,298.14

In [ ]:
df41=df[(df['class']==41) & (df['total']==z[41].max())].iloc[:,0:8]
df41

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
342,41,100.0,100.0,100.0,balanced_wt_ResNet_50.csv,300.0

In [ ]:
df42=df[(df['class']==42) & (df['total']==z[42].max())].iloc[:,0:8]
df42

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
214,42,99.78308,99.78308,99.78308,balanced_SMOTE_ResNet_50.csv,299.35

In [ ]:
df_list=[df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42]

In [ ]:
model_df=pd.concat([df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42], sort=False)

In [ ]:
model_df

,class,clockwise_90,anticlockwise_90,180_rotation,model,total
43,0,100.000000,100.000000,100.000000,imbalanced_resnet_50.csv,300.00
86,0,100.000000,100.000000,100.000000,balanced_SMOTE_CNN.csv,300.00
172,0,100.000000,100.000000,100.000000,balanced_SMOTE_ResNet_50.csv,300.00
215,0,100.000000,100.000000,100.000000,balanced_WT_cnn.csv,300.00
301,0,100.000000,100.000000,100.000000,balanced_wt_ResNet_50.csv,300.00
...,...,...,...,...,...,...
383,39,100.000000,100.000000,100.000000,imbalanced_resnet_L50.csv,300.00
469,39,100.000000,100.000000,100.000000,balanced_tk_cnn.csv,300.00
341,40,99.378882,99.378882,99.378882,balanced_wt_ResNet_50.csv,298.14
342,41,100.000000,100.000000,100.000000,balanced_wt_ResNet_50.csv,300.00
214,42,99.783080,99.783080,99.783080,balanced_SMOTE_ResNet_50.csv,299.35

In [ ]:
print(model_df.to_string())

     class  clockwise_90  anticlockwise_90  180_rotation                          model   total
43       0    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
86       0    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
172      0    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
215      0    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
301      0    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
130      1     98.800959         98.800959     98.800959  balanced_SMOTE_ResNet_152.csv  296.40
2        2    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
303      2    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
89       3    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
304      3    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
476      3    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
133      4    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
305      4    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
134      5    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
306      5    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
6        6    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
135      6    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
178      6    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
221      6    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
307      6    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
350      6    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
393      6    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
436      6    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
7        7    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
93       7    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
179      7    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
480      7    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
8        8    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
94       8    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
137      8    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
180      8    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
223      8    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
309      8    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
352      8    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
395      8    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
438      8    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
9        9    100.000000        100.000000    100.000000             imbalanced_cnn.csv     NaN
52       9    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv     NaN
95       9    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv     NaN
138      9    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv     NaN
181      9    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv     NaN
224      9    100.000000        100.000000    100.000000            balanced_WT_cnn.csv     NaN
310      9    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv     NaN
353      9    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv     NaN
439      9    100.000000        100.000000    100.000000            balanced_tk_cnn.csv     NaN
482      9    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv     NaN
483     10    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
183     11    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
226     11    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
312     11    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
355     11    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
398     11    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
441     11    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
484     11    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
356     12    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
442     12    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
314     13    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
100     14    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
15      15    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
101     15    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
144     15    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
187     15    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
230     15    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
316     15    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
359     15    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
402     15    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
445     15    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
403     16    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
103     17    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
189     17    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
318     17    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
18      18    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
104     18    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
319     18    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
105     19     99.787234         99.787234     99.787234         balanced_SMOTE_CNN.csv  299.36
148     19     99.787234         99.787234     99.787234  balanced_SMOTE_ResNet_152.csv  299.36
191     19     99.787234         99.787234     99.787234   balanced_SMOTE_ResNet_50.csv  299.36
20      20    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
192     20    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
150     21    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
494     21    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
151     22    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
324     23     99.310345         99.310345     99.310345      balanced_wt_ResNet_50.csv  297.93
497     24    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
154     25    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
26      26    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
69      26    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
112     26    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
155     26    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
241     26    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
327     26    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
499     26    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
27      27    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
113     27    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
199     27    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
328     27    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
371     27    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
414     27    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
457     27    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
500     27    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
28      28    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
243     28    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
329     28    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
29      29    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
72      29    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
115     29    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
330     29    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
373     29    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
459     29    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
502     29    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
30      30    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
73      30    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
116     30    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
159     30    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
245     30    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
331     30    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
374     30    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
460     30    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
31      31    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
117     31    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
160     31    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
246     31    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
332     31    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
375     31    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
418     31    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
461     31    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
504     31    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
32      32    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
75      32    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
118     32    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
333     32    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
419     32    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
76      33    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
119     33    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
205     33    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
334     33    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
377     33    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
420     33    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
463     33    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
506     33    100.000000        100.000000    100.000000    balanced_tk_ResNet50_50.csv  300.00
34      34     99.746835         99.746835     99.746835             imbalanced_cnn.csv  299.24
335     34     99.746835         99.746835     99.746835      balanced_wt_ResNet_50.csv  299.24
35      35    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
78      35    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
121     35    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
250     35    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
336     35    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
379     35    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
465     35    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
36      36    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
79      36    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
122     36    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
165     36    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
208     36    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
251     36    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
337     36    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
380     36    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
423     36    100.000000        100.000000    100.000000   balanced_tk_ResNet50_152.csv  300.00
466     36    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
37      37    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
123     37    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
166     37    100.000000        100.000000    100.000000  balanced_SMOTE_ResNet_152.csv  300.00
252     37    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
295     37    100.000000        100.000000    100.000000     balanced_wt_ResNet_152.csv  300.00
338     37    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
339     38     97.849462         97.849462     97.849462      balanced_wt_ResNet_50.csv  293.55
39      39    100.000000        100.000000    100.000000             imbalanced_cnn.csv  300.00
82      39    100.000000        100.000000    100.000000       imbalanced_resnet_50.csv  300.00
125     39    100.000000        100.000000    100.000000         balanced_SMOTE_CNN.csv  300.00
211     39    100.000000        100.000000    100.000000   balanced_SMOTE_ResNet_50.csv  300.00
254     39    100.000000        100.000000    100.000000            balanced_WT_cnn.csv  300.00
340     39    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
383     39    100.000000        100.000000    100.000000      imbalanced_resnet_L50.csv  300.00
469     39    100.000000        100.000000    100.000000            balanced_tk_cnn.csv  300.00
341     40     99.378882         99.378882     99.378882      balanced_wt_ResNet_50.csv  298.14
342     41    100.000000        100.000000    100.000000      balanced_wt_ResNet_50.csv  300.00
214     42     99.783080         99.783080     99.783080   balanced_SMOTE_ResNet_50.csv  299.35

In [ ]:
model_df.model.value_counts()

balanced_wt_ResNet_50.csv        30
balanced_SMOTE_CNN.csv           21
imbalanced_cnn.csv               20
balanced_SMOTE_ResNet_152.csv    16
balanced_SMOTE_ResNet_50.csv     15
balanced_WT_cnn.csv              14
imbalanced_resnet_L50.csv        14
balanced_tk_cnn.csv              14
balanced_tk_ResNet50_50.csv      12
imbalanced_resnet_50.csv         10
balanced_tk_ResNet50_152.csv     10
balanced_wt_ResNet_152.csv        1
Name: model, dtype: int64